body{
  margin: 0%;
  padding: 0%;
}
.media-body{
  
    margin-left: 10rem;
    display:inline-table;
    padding-left: 2rem;
}

.media-body-2{
  
  margin-left: 10rem;
  display:inline-table;
  padding-left: 2rem;
}



.media-body-3{
    margin-left: 10rem;
    display:inline-table;
    padding-left: 2rem;
}
